## World Happiness Report 2021

In [22]:
# Import the Library
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [23]:
data = pd.read_csv("world-happiness-report.csv")
data.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      1949 non-null   object
 1   year                              1949 non-null   int64
 2   Life Ladder                       1949 non-null   float64
 3   Log GDP per capita                1913 non-null   float64
 4   Social support                    1936 non-null   float64
 5   Healthy life expectancy at birth  1894 non-null   float64
 6   Freedom to make life choices      1917 non-null   float64
 7   Generosity                        1860 non-null   float64
 8   Perceptions of corruption         1839 non-null   float64
 9   Positive affect                   1927 non-null   float64
 10  Negative affect                   1933 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 167.6+ KB

In [25]:
data_2021 = pd.read_csv('world-happiness-report-2021.csv')

In [33]:
India = data[data["Country name"] == "India"]
India[["Country name","year","Social support","Freedom to make life choices"]]

    Country name  year  Social support  Freedom to make life choices
732        India  2006           0.707                         0.774
733        India  2007           0.569                         0.729
734        India  2008           0.684                         0.756
735        India  2009           0.653                         0.679
736        India  2010           0.605                         0.783
737        India  2011           0.553                         0.838
738        India  2012           0.511                         0.609
739        India  2013           0.553                         0.740
740        India  2014           0.621                         0.809
741        India  2015           0.610                         0.777
742        India  2016           0.614                         0.820
743        India  2017           0.607                         0.886
744        India  2018           0.638                         0.890
745        India  2019           0.561                         0.876
746        India  2020           0.617                         0.906

In [29]:
India

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
732,India,2006,5.348,8.145,0.707,55.72,0.774,NaN,0.855,0.687,0.199
733,India,2007,5.027,8.204,0.569,56.14,0.729,-0.051,0.862,0.668,0.253
734,India,2008,5.146,8.220,0.684,56.56,0.756,-0.072,0.891,0.674,0.259
735,India,2009,4.522,8.281,0.653,56.98,0.679,-0.026,0.895,0.771,0.301
736,India,2010,4.989,8.349,0.605,57.40,0.783,0.058,0.863,0.697,0.267
737,India,2011,4.635,8.387,0.553,57.70,0.838,-0.038,0.908,0.648,0.232
738,India,2012,4.720,8.428,0.511,58.00,0.609,0.067,0.830,0.629,0.295
739,India,2013,4.428,8.478,0.553,58.30,0.740,0.084,0.832,0.680,0.330
740,India,2014,4.424,8.538,0.621,58.60,0.809,-0.026,0.832,0.711,0.285
741,India,2015,4.342,8.604,0.610,58.90,0.777,-0.005,0.776,0.701,0.322
742,India,2016,4.179,8.673,0.614,59.30,0.820,0.046,0.765,0.695,0.346
743,India,2017,4.046,8.730,0.607,59.70,0.886,-0.042,0.781,0.682,0.318
744,India,2018,3.818,8.779,0.638,60.10,0.890,0.085,0.805,0.657,0.357
745,India,2019,3.249,8.818,0.561,60.50,0.876,0.112,0.752,0.648,0.466
746,India,2020,4.225,8.703,0.617,60.90,0.906,0.075,0.780,0.752,0.383